<div class="title"
[class.title--desktop]="!isHandset">
  <app-title
  [isHandset]="isHandset"
  [text]="text"
  [circlesColor]="cfromCirclesColor"
  ></app-title>
</div>

 <swiper
 [class.swiper--desktop]="!isHandset"
 class="swiper"
 [slidesPerView]="isHandset ? 1 : 4"
 [spaceBetween]="2"
 [loop]="true"
 [pagination]="{ clickable: true}"
 [centeredSlides]="true"
 (swiper)="onSwiper($event)"
 (slideChange)="onSlideChange()"
 *ngIf="db.projects$ | async as projects">
    <div *ngFor="let project of projects">
      <ng-template swiperSlide >
        <app-card
        [project]="project"></app-card>
      </ng-template>
    </div>
</swiper>
