<div class="skills-section"
[class.skills-section--desktop]="!isHandset">
  <div class="background"
  [class.background--desktop]="!isHandset">
      <app-title
      [isHandset]="isHandset"
      [text]="text"
      [circlesColor]="skillsCirclesColor"
      ></app-title>
    <div class="content"
      [class.content--desktop]="!isHandset">
        <div
            class="about"
          [class.about--desktop]="!isHandset"
          >
          Lorem ipsum dolor sit amet consectetur, adipisicing elit. Fugiat nostrum maxime quidem dolores, temporibus non repellendus id, mollitia laboriosam necessitatibus beatae eius distinctio consequatur debitis, quod maiores soluta atque  <a href='asd'>LinkedIn</a>.
        </div>

        <div class="skills"
        [class.skills--desktop]="!isHandset">
        <div class="skills__col">
            <p *ngFor="let skill of techSkills">
              {{skill}}
            </p>
          </div>
          <div class="skills__col">
            <p *ngFor="let skill of softSkills">
              {{skill}}
            </p>
          </div>
        </div>
    </div>
  </div>
</div>
