:host{
  display: flex;
  justify-content: flex-end;
}
.background{
  border-radius: 25px 0px 0px 25px;
  padding: 2rem .5rem 2rem 1.5rem;
  max-width: 85%;
  background-color: #16596B;
  color: white;
  &--desktop{
    padding: 4rem 4rem;
  }
}
.content{
  display: flex;
  flex-direction: column;
  a{
    color: white;
  }
  &--desktop{
    flex-direction: row;
    align-items: flex-end;
    justify-content: space-around;
  }
}
.about{
  border-left: 1px solid whitesmoke;
  margin: 1rem 0rem;
  padding: .5rem 1rem;
  color: whitesmoke;
  &--desktop{
    font-size: 1.2rem;
    padding: 2rem 2rem;
    margin-top: 6rem;
    margin-left: 5rem;
    width: 50%;
  }
}

.skills{
  display: flex;
  padding: 0rem .5rem;
  justify-content: space-between;
  &__col{
    padding: 0rem .5rem;
    p{
      font-size: .8rem;
      color: lightblue;
    }
  }
}
