.title{
  padding: 1rem;
  &--desktop{
    padding-top: 3rem;
    padding-left: 3rem;
  }
}
.about{
   padding: 2rem 0rem 6rem 1rem ;
   overflow-x: hidden;
  &--desktop{
   padding: 2rem 0rem 7rem 1rem ;
  }
}
#skills{
  margin-top: 4rem;
}
#projects{
   margin-top: 4rem;
}
#cform{
  margin-top: 4rem;
}

.section-margin--desktop{
  margin-top: 8rem !important;
}
