<div *ngIf="project">
  <section
  class="title"
  id="title"
  [ngClass]="{'title--desktop': !(isHandset$ | async)}">
    <app-title
    [isHandset]="isHandset$ | async"
    [text]="project.title"
    [circlesColor]="headerCirclesColor">
    </app-title>
  </section>
  <section
  class="about"
  [ngClass]="{'about--desktop': !(isHandset$ | async)}">
    <app-about
    [isHandset]="(isHandset$ | async)"
    [aboutText]="project.details.problem">
    </app-about>
  </section>
  <section id="skills">
    <app-skills
    [isHandset]="isHandset$ | async">
    </app-skills>
  </section>
  <section id="projects">
    <app-projects
    [isHandset]="isHandset$ | async">
    </app-projects>
  </section>
  <section id="cform">
    <app-cform
    [isHandset]="isHandset$ | async">
    </app-cform>
  </section>
</div>
