#title{
  padding: 1rem;
}
#about{
   padding: 0rem 0rem 6rem 1rem ;
}
#skills{
  margin-top: 4rem;
}
#projects{
   margin-top: 4rem;
}
#cform{
  margin-top: 4rem;
}

.section-margin--desktop{
  margin-top: 8rem !important;
}
