<p
class="about"
[class.about--desktop]="!isHandset"
>
    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Fugiat nostrum maxime quidem dolores, temporibus non repellendus id, mollitia laboriosam necessitatibus beatae eius distinctio consequatur debitis, quod maiores soluta atque obcaecati.
</p>

<app-circles
[class.circles_bg--desktop]="!isHandset"
  class="circles_bg"
  [cols]="3"
  [rows]="2"
  [margin]=".5"
  [circleWidth]="isHandset ? 60 : 150"
  [circleHeight]="isHandset ? 60 : 150"
  [backgroundColor]="'#2A97B4'"
  [opacity]=".05">
</app-circles>
