:host{
  font-size: 0.8rem;
  position: relative;
  overflow: hidden;
  .about{
    border-left: 1px solid grey;
    padding: .5rem 1rem;
    color: #181d29;
    font-weight: 600;
    color: grey;
    &--desktop{
      font-size: 1.2rem;
      padding: 2rem 2rem;
      margin-top: 6rem;
      margin-left: 5rem;
      width: 50%;
    }
  }
  .circles_bg{
    position: absolute;
    top: 0;
    left: 150px;
    z-index: -997;
    &--desktop{
      left: 700px;
    }
  }
}
