<div class="issue">
  find an issue with this page? <a href="https://github.com/PabloHMartin/myportfolio">Fix it on GitHub</a>
</div>
<div class="copyright">
  Copyright © 2021 Pablo H. Martín
</div>
<div class="created-by">
    Created by <a href="https://github.com/PabloHMartin/"></a>Pablo H. Martín
</div>
<div
class="social"
[class.social--desktop]="!isHandset">
  <a href="https://github.com/PabloHMartin/">
    <img src="../../../../assets/icons/github.png" alt="github">
  </a>
  <a href="https://www.linkedin.com/in/pablohmartin/">
    <img src="../../../../assets/icons/linkedin.png" alt="github">
  </a>
</div>
