<div class="illustration-bg"
  *ngIf="!(isHandset$ | async)">
  <img src="../../../assets/img/astronautbg.svg" alt="">
</div>
<main>
  <section class="header"
  [ngClass]="{'section-margin--desktop': !(isHandset$ | async)}">
    <app-header
    (scroll)="scroll($event)"
    [isHandset]="(isHandset$ | async)"
    ></app-header>
  </section>
  <section class="brands">
    <app-brands
    [brands]="brands"
    [isHandset]="(isHandset$ | async)"
    ></app-brands>
  </section>
  <section class="about"
  [ngClass]="{'section-margin--desktop': !(isHandset$ | async)}">
    <app-about
    [isHandset]="(isHandset$ | async)"
    [aboutText]="aboutText">
  </app-about>
  </section>
  <section class="cta"
  [ngClass]="{'section-margin--desktop': !(isHandset$ | async)}">
    <app-cta
    (scroll)="scroll($event)"
    [isHandset]="(isHandset$ | async)">
    </app-cta>
  </section>
  <section class="skills"
  [ngClass]="{'section-margin--desktop': !(isHandset$ | async)}"
  [ngClass]="{'skills--desktop': !(isHandset$ | async)}">
    <app-skills
    [isHandset]="(isHandset$ | async)">
    </app-skills>
  </section>
  <section #projects
  class="projects"
  [ngClass]="{'section-margin--desktop': !(isHandset$ | async)}">
    <app-projects
    [isHandset]="(isHandset$ | async)">
    </app-projects>
  </section>
  <section #cform
  class="cform"
  [ngClass]="{'section-margin--desktop': !(isHandset$ | async)}">
  <app-cform
    [isHandset]="(isHandset$ | async)"></app-cform>
  </section>
</main>

