<div class="illustration-bg"
  *ngIf="!(isHandset$ | async)">
  <img src="../../../assets/img/astronautbg.svg" alt="">
</div>
<main>
  <section id="header">
    <app-header
    [isHandset]="(isHandset$ | async)"
    ></app-header>
  </section>
  <section id="brands">
    <app-brands
    [brands]="brands"
    [isHandset]="(isHandset$ | async)"
    ></app-brands>
  </section>
  <section id="about">
    <app-about
    [isHandset]="(isHandset$ | async)">
  </app-about>
  </section>
  <section id="cta">
    <app-cta
    [isHandset]="(isHandset$ | async)">
    </app-cta>
  </section>
</main>

