<div class="slide"
 [class.slide--desktop]="!isHandset">
  <div class="content">
    <app-title
    [isHandset]="isHandset"
    [text]="titleText"
    [circlesColor]="headerCirclesColor"
    ></app-title>
    <h1 class="content__subtitle"
    [class.content__subtitle--desktop]="!isHandset">Desarrollo web front-end y apps</h1>
    <button class="content__button"
    [class.content__button--desktop]="!isHandset">Conoce las respuestas</button>
  </div>
  <div
  class="illustration"
  [class.illustration--desktop]="!isHandset">
    <img src="../../../../../assets/img/astro.svg" alt="astronaut">
  </div>
  <app-circles
  *ngIf="!isHandset "
  class="circles_bg"
  [cols]="3"
  [rows]="2"
  [margin]=".5"
  [circleWidth]="90"
  [circleHeight]="90"
  [backgroundColor]="'#2A97B4'"
  [opacity]=".05">
</app-circles>

</div>
