.circles{
  margin-left: -.5rem;
  padding-bottom: .5rem;
}
.slide{
  display: flex;
  flex-direction: row;
  padding-top: .5rem;
  &--desktop{
    padding-top: 5rem;
    padding-left: 5rem;
  }
  .content{
    display: flex;
    flex-direction: column;
    min-width: 55%;
    &__title{
      margin: 0;
      font-size: 1rem;
      font-weight: 900;
      &--desktop{
        font-size: 2.5rem;
        max-width: 55%;
      }
    }
    &__subtitle{
      border-left: 1.5px solid grey;
      padding-left: .5rem;
      font-size: .7rem;
      color: grey;
      &--desktop{
        font-size: 1.4rem;
      }
    }
    &__button{
      margin-top: 1rem;
      background-color: #2A97B4;
      border: none;
      color: white;
      margin-left: -1rem;
      padding: .5rem .2rem;
      border-radius: 0px 25px 25px 0px;
      font-weight: bold;
      font-size: .7rem;
      font-family: "Montserrat", sans-serif;
      max-width: 90%;
      &--desktop{
        max-width: 30%;
        font-size: 1rem;
        border-radius: 25px;
      }
    }
  }
  .illustration{
    position: relative;
    top: -40px;
    width: 100%;
    overflow:hidden;
    &--desktop{
      top: -150px;
      right: 20px;
    }
    &--desktop img{
      width: 40rem;
      height: 40rem;
    }
  }
  .circles_bg{
    position: absolute;
    top: 45%;
    left: 35%;
    z-index: -997;
  }
}
