@import "~swiper/swiper-bundle";
/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600&display=swap');
body{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a{
  text-decoration: none;
}

/*active pagination*/
.swiper-pagination .swiper-pagination-bullet-active {
  border-radius: 0;
  color: #1F7187;
  background-color:#1F7187;
  opacity: 1;
}
