<div class="cform-section"
[class.cform-section--desktop]="!isHandset">
  <div class="background"
  [class.background--desktop]="!isHandset">
      <app-title
      [isHandset]="isHandset"
      [text]="text"
      [circlesColor]="cfromCirclesColor"
      ></app-title>

      <div class="info">
        <p>Email me:</p>
        <p>pablohmartindev@gmail.com</p>
      </div>

    <form class="form" [formGroup]="form" (ngSubmit)="onSubmit()">
      <div class="form__senderId">
        <label class="form__formInput"
        for="name">
          <div class=" form__label"
          [class.form__input--invalid]="(form.get('name').touched || form.get('name').dirty) && form.get('name').invalid">
          Name
          </div>
          <input
          class="form__input"
          formControlName="name"
          type="text"
          autocomplete="false"
          placeholder="your name">
        </label>
        <label class="form__formInput"
        for="email">
          <div class=" form__label"
          [class.form__input--invalid]="(form.get('email').touched || form.get('email').dirty) && form.get('email').invalid">
          Email
          </div>
          <input
          formControlName="email"
          class="form__input"
          type="email"
          autocomplete="false"
          placeholder="your email">
        </label>
      </div>
      <div class="form__sendermessage">
        <label class="form__formInput"
        for="message">
          <div
          class=" form__label"
          [class.form__input--invalid]="(form.get('message').touched || form.get('message').dirty) && form.get('message').invalid">
            Message
          </div>
          <textarea
          class="form__textarea form__input"
          [class.form__textarea--desktop]="!isHandset"
          formControlName="message"
          type="text"
          autocomplete="false"
          placeholder="your message">
          </textarea>
        </label>
      </div>

      <div class="form__button"
      [class.form__button--desktop]="!isHandset">
        <button
        class="form__button__button"
        type="submit"
        [class.form__button__button--desktop]="!isHandset"
        [class.form__button__button--success]="cformState === 1"
        [class.form__button__button--error]="cformState === 2"
        [disabled]="form.invalid || loading">
        <div *ngIf="!loading" class="send">Send</div>
        <div *ngIf="loading"  class="loading">
            <div class="loadingio-spinner-dual-ball-8wy96cxe1ir"><div class="ldio-74n3l36brr9">
            <div></div><div></div><div></div>
            </div></div>
        </div>
        </button>
      </div>
    </form>

  </div>
</div>
