.cform-section{
  display: flex;
  justify-content: flex-end;
  overflow: hidden;
  &--desktop{
    justify-content: center;

  }
}
.background{
  border-radius: 25px 0px 0px 25px;
  padding: 2rem .5rem 2rem 1.5rem;
  max-width: 85%;
  min-width: 85%;
  background-color: #16596B;
  color: white;
  &--desktop{
    margin-top: 6rem;
    padding: 4rem 4rem;
    border-radius: 25px 25px 25px 25px;
  }
}
.info{
  padding: .5rem 0rem;
  font-size: 0.8rem;
}
.form{
  display: flex;
  flex-direction: column;
  &__senderId{
    display: flex;
    flex-direction: column;
  }
  &__input{
    border: none;
    background-color: #1F7187;
    padding: .5rem;
    &--invalid{
     color: indianred;
    }
    &:focus{
      outline: none;
      color:white;
      font-family: 'Montserrat', sans-serif;
    }
    &:not(:focus){
      outline: none;
      color:white;
      font-family: 'Montserrat', sans-serif;
    }
    &::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
        color: white;
        opacity: 1; /* Firefox */
        font-family: 'Montserrat', sans-serif;
      }
  }
  &__formInput{
    display: flex;
    flex-direction: column;
    max-width: 90%;
    border-left: 1px solid whitesmoke;
    padding: 1rem 1rem;
    margin: 0.5rem 0rem;
  }
  &__textarea{
    border-radius: 25px 25px 0px 25px;
    padding: 1rem;
    resize: none;
    &--desktop{
      border-radius: 0px 0px 0px 0px;

    }
  }
  &__label{
    padding-bottom: 0.5rem;
    font-size: 0.8rem;
  }
  &__sendermessage{
    display: flex;
    flex-direction: column;
  }

  &__button{
    display: flex;
    justify-content: flex-end;
    margin-top: 1rem;
    padding: 1rem -1rem 1rem 0rem;
    margin-right: -1rem;
    &--desktop{
      margin-right: 0rem;
      justify-content: center;
      }
    &__button{
      font-family: 'Montserrat', sans-serif;
      padding: .5rem;
      width: 50%;
      background-color: #1F7187;
      color: white;
      font-size: .8rem;
      font-weight: bold;
      border: 0px;
      border-radius: 25px 0px 0px 25px;
      -webkit-box-shadow: -5px 10px 18px -12px rgba(0,0,0,1);
      -moz-box-shadow: -5px 10px 18px -12px rgba(0,0,0,1);
      box-shadow: -5px 10px 18px -12px rgba(0,0,0,1);
      &--success{
        border: 1px solid lightgreen;
      }
      &--error{
        border: 1px solid indianred;
      }
      &--desktop{
            border-radius: 25px 25px 25px 25px;
            width: 40%;
            font-size: 1rem;
            padding: 1rem;
      }

      &:disabled{
        color: grey;
      }
    }
  }

}

.loading{
    padding: 0rem;
    height: 23px;
    display: flex;
    justify-content: center;
    align-items: center;
}

@keyframes ldio-74n3l36brr9-o {
    0%    { opacity: 1; transform: translate(0 0) }
   49.99% { opacity: 1; transform: translate(40px,0) }
   50%    { opacity: 0; transform: translate(40px,0) }
  100%    { opacity: 0; transform: translate(0,0) }
}
@keyframes ldio-74n3l36brr9 {
    0% { transform: translate(0,0) }
   50% { transform: translate(40px,0) }
  100% { transform: translate(0,0) }
}
.ldio-74n3l36brr9 div {
  position: absolute;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  top: 30px;
  left: 10px;
}
.ldio-74n3l36brr9 div:nth-child(1) {
  background: #93dbe9;
  animation: ldio-74n3l36brr9 1s linear infinite;
  animation-delay: -0.5s;
}
.ldio-74n3l36brr9 div:nth-child(2) {
  background: #689cc5;
  animation: ldio-74n3l36brr9 1s linear infinite;
  animation-delay: 0s;
}
.ldio-74n3l36brr9 div:nth-child(3) {
  background: #93dbe9;
  animation: ldio-74n3l36brr9-o 1s linear infinite;
  animation-delay: -0.5s;
}
.loadingio-spinner-dual-ball-8wy96cxe1ir {
  width: 64px;
  height: 64px;
  display: inline-block;
  overflow: hidden;
  background: rgba(0, 0, 0, 0);
}
.ldio-74n3l36brr9 {
  width: 100%;
  height: 100%;
  position: relative;
  transform: translateZ(0) scale(0.64);
  backface-visibility: hidden;
  transform-origin: 0 0; /* see note above */
}
.ldio-74n3l36brr9 div { box-sizing: content-box; }
/* generated by https://loading.io/ */
